.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 17%;
    padding: 25px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h3{
    display: inline-block;
  }
  h3 span{
    color: orange;
  }
  svg{
    width: 43%;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
